.header__lang-item {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	line-height: 23px;
	transition: .2s ease-in-out;
}

.header__lang-item:first-child {
	margin-right: 18px;
}

.header__lang-item:hover {
	opacity: 0.7;
}

@media screen and (max-width: 424px) {
	.header__lang-item {
		font-size: 18px;
		line-height: 17px;
	}
}
