@import url('__item/photo-grid__item.css');
@import url('__index/photo-grid__index.css');

.photo-grid {
	max-width: 1184px;
	min-height: 596px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
	grid-gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.photo-grid {
		grid-gap: 14px;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
		max-width: 928px;
		justify-content: center;
	}
}

@media screen and (min-width: 425px) and (max-width: 1023px) {
	.photo-grid {
		max-width: calc(100% - 16px - 16px);
		grid-gap: 16px;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto auto auto;
		justify-content: center;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
	.photo-grid {
		max-width: calc(100% - 16px - 16px);
		display: block;
	}
}

@media screen and (max-width: 374px) {
	.photo-grid {
		max-width: calc(100% - 16px - 16px);
		display: block;
	}
}