.video-item__title {
	max-width: 322px;
	font-weight: 900;
	font-size: 36px;
	line-height: 39px;
	color: #fff;
	margin: 0 0 18px 30px;
	position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.video-item__title {
		font-size: 24px;
		line-height: 26px;
		margin: 0 0 12px 24px;
	}
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	.video-item__title {
		font-size: 24px;
		line-height: 26px;
		margin-left: 24px;
		margin-bottom: 2px;
	}
}

@media screen and (max-width: 374px) {
	.video-item__title {
		max-width: 256px;
		margin-left: 16px;
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 2px;
	}
}