@import url('__container/video__container.css');
@import url('__index/video__index.css');

.video {
	max-width: 1184px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.video {
		max-width: 928px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.video {
		max-width: 720px;
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.video {
		max-width: 100%;
	}
}

/*@media screen and (min-width: 375px) and (max-width: 767px) {
	.video {
		width: 100%;
	}
}

@media screen and (max-width: 374px) {
	.video {
		width: 100%;
	}
}*/