@import url('../__link/footer__link.css');

.footer__links {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 500px) {
	.footer__links {
		flex-direction: column;
	}
}