.place__paragraph {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	margin: 0 0 36px;
	width: 100%;
}

@media screen and (min-width: 630px) and (max-width: 1024px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 27px;
	}
}