@import url('__author/comment__author.css');
@import url('__image/comment__image.css');
@import url('__quote/comment__quote.css');
@import url('__index/comment__index.css');

.comment {
	max-width: 382px;
	display: flex;
	flex-direction: column;
	margin-right: 19px;
}

.comment:last-child {
	margin-right: 0;
}

@media screen and (min-width: 501px) and (max-width: 1279px) {
	.comment {
		max-width: 296px;
		margin-right: 18px;
	}
	.comment:last-child {
		margin-right: 0;
	}
}

@media screen and (min-width: 375px) and (max-width: 500px) {
		.comment {
		max-width: 343px;
		margin-bottom: 47px;
}
		.comment:last-child {
		margin-bottom: 0;
	}
}